[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stravalib = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg = "*"
shortuuid = "*"

[dev-packages]
ruff = "*"
black = "*"
pre-commit = "*"
mypy = "*"
types-flask-cors = "*"
types-flask-migrate = "*"

[requires]
python_version = "3.9"
