[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stravalib = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
shortuuid = "*"
zappa = "*"
boto3 = "==1.26.90" # Issue with latest boto3: https://stackoverflow.com/questions/75887656/botocore-package-in-lambda-python-3-9-runtime-return-error-cannot-import-name
sentry-sdk = {extras = ["flask"], version = "*"}

[dev-packages]
ruff = "*"
black = "*"
pre-commit = "*"
mypy = "*"
types-flask-cors = "*"
types-flask-migrate = "*"
pytest = "*"
types-colorama = "*"

[requires]
python_version = "3.9"
